# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/bifmein1/biometric-app"
PassengerBaseURI "/"
PassengerNodejs "/home/bifmein1/nodevenv/biometric-app/20/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
